Morpion3D/bin/Debug/netcoreapp2.1/Morpion3D.deps.json
Morpion3D/bin/Debug/netcoreapp2.1/Morpion3D.dll
Morpion3D/bin/Debug/netcoreapp2.1/Morpion3D.pdb
Morpion3D/obj/Debug/netcoreapp2.1/Morpion3D.assets.cache
Morpion3D/obj/Debug/netcoreapp2.1/Morpion3D.csproj.CoreCompileInputs.cache
Morpion3D/obj/Debug/netcoreapp2.1/Morpion3D.csproj.FileListAbsolute.txt
Morpion3D/obj/Debug/netcoreapp2.1/Morpion3D.csprojAssemblyReference.cache
Morpion3D/obj/Debug/netcoreapp2.1/Morpion3D.dll
Morpion3D/obj/Debug/netcoreapp2.1/Morpion3D.pdb
Morpion3D/obj/Morpion3D.csproj.nuget.cache
Morpion3D/obj/Morpion3D.csproj.nuget.dgspec.json
Morpion3D/obj/Morpion3D.csproj.nuget.g.props
Morpion3D/obj/project.assets.json
Morpion3D/bin/Debug/netcoreapp3.0/
Morpion3D/obj/Debug/netcoreapp3.0/
Morpion3D/obj/Debug/netcoreapp3.1/
Morpion3D/.vs/ProjectSettings.json
Morpion3D/.vs/VSWorkspaceState.json
Morpion3D/.vs/slnx.sqlite
Morpion3D/obj/Release/
MorpionServer/MorpionServer.csproj.user
MorpionServer/Properties/
MorpionServer/obj/
.vs/Morpion3D/DesignTimeBuild/
.vs/Morpion3D/v16/.suo
.vs/Morpion3D/v16/Server/sqlite3/storage.ide
Morpion3D/.vs/Morpion3D/v16/.suo
